* {
    text-align: center;
}
body {
    background-color: black;
    color: white;
}
.contenedor {
    display: flex;
    justify-content: space-between;     
    height: 90vh;
    justify-content: center;
}
.titulo {
    color: white;
}
.menu, .jugar {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 20%;
    height: 95%;
    padding: 10px;
    border: white solid 2px;
    background-color: black;
    border-radius: 20px;
}
.btn {
    margin-top: 20px;
    border: white solid 2px;
    background-color: black;
    color: white;
    width: 150px;
    padding: 5px;
    border-radius: 20px;
}
.tablero {
    background-color: black;
    width: 59%;
    border: solid white;
    border-radius: 20px;
    height: 96%;
}

/* Modo Alto Contraste */
.alto-contraste {
    background-color: black ;
    color: white;
}
.modal-content,.modal-body {
    background-color: black;
    color: white;
    border: white solid 2px;
}