*{
    text-align: center;
    
}
body{
    background-color: black;
}
.contenedor{
    display: flex;
    justify-content: space-between;     
    height: 90vh;
    background-color: black;
    justify-content: center;
}
.titulo{
    color: white;
}
.menu{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 20%;
    height: 95%;
    padding-top:10px ;
    padding: 5px;
    border: white solid 2px;
    background-color: black;
    border-radius: 20px;
    color: white;
}
.menu>button{
    margin-top: 40px;
    border: white solid 2px;
    background-color: black;
    color: white;
    width: 150px;
    padding: 5px;
    border-radius: 20px;
}
.jugar{ 
    margin-left: auto;
    width: 20%;
    padding-top:40px ;
    padding: 5px;
    border: white solid 2px;
    background-color: black;
    border-radius: 20px;
    color: white;
    height: 95%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.jugar>button{
    margin-top: 45px;
    border: white solid 2px;
    background-color: black;
    color: white;
    width: 150px;
    padding: 5px;
    border-radius: 20px;
}
.tablero{
    background-color: black;
    width: 59%;
    border: solid white;
    border-radius: 20px;
    height: 96%;
}